/* # for div ID (specific)*/
#greeting {
	font-size: 25px;
	color: red;
	

}

/* (.) for Div class (group)*/
.mapagmahal{
	border: 4px solid black;

}

body{
	background-color: lightblue;
}
p{
	font-family: 'Source Sans Pro', sans-serif;
}